
/*=================
  =               =
  =   Reset CSS   =
  =               =
  =================
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
/*	font-size: 100%;*/
    font-size: 62.5%; /* mod */
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Box sizing */
*, *:before, *:after {
  box-sizing: border-box;
}

/*=================
  =               =
  =   Reset CSS   =
  =               =
 ==================
*/

.header{
display: flex;
}

#myCanvas{


	z-index: 3;
    position: absolute;
    top: 30%;
    left: 40%;
    width: 640px;
    height: 480px;


}

#c{

	z-index: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;

 

}

.bg{
   width: 100%;
    height: 100%;
position: absolute;
background: url("../img/blue-forest 3.jpg") center no-repeat;
z-index: 0;
}

#disqus_thread{
width: 50%;
position: absolute;
top: 60%;
left: 30%;
z-index: 3;	
}
.header::after {
    z-index: 2;
    position: absolute;
    content:"";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .4;
    mix-blend-mode: color;
    mix-blend-mode: hue;
    mix-blend-mode: hard-light;	
}
.slider_wrap {
	top:34%;
	position: absolute;
	overflow-x:hidden;
	overflow-y:hidden;
	z-index: 3;
	display: flex;
	
}
.slider_wrap img {
z-index: 3;
opacity: 0.9;
height: 50%;
width: 50%;
	
	}
	
.slider_wrap span {
top:50%;
left: 80%;
width:100%;
	height:100%;
	display:flex;

	position:absolute;
	cursor:pointer;
	z-index: 3;
	}
	
.logo{
position: absolute;
top: 3%;
left: 5%;
z-index: 3;
opacity: 0.4;
height: 40%;

}

.logo480px{
position: absolute;
top: 30%;
left: 40%;
z-index: 0;
opacity: 0.5;
height: 1%;
width: 1%;	
	}


.logo_skills{
	position: absolute;
	top: 20%;
	left: 35%;
	z-index: 3;
opacity: 0.5;
	width: 30%;
	}
	.logo_jquery{
		position: absolute;
		top: 30%;
		left: 5%;
		z-index: 3;
	opacity: 1;
		width: 20%;
		}
	
		.logo_git{
			position: absolute;
			top: 40%;
			left: 70%;
			z-index: 3;
		opacity: 0.5;
			width: 8%;
			}
			.logo_bootstrap{

				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 3;
			opacity: 0.7;

				width: 16%;
				}
				.logo_photoshop{

					position: absolute;
					top: 60%;
					left: 10%;
					z-index: 3;
				opacity: 0.7;
				
					width: 14%;
					}
				
.about_me{
z-index: 0;
top: 40%;
left: 4%;
right: 4%;
position: absolute;
background: linear-gradient(to right,cyan,green);
font-size: 2rem;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Comic Sans MS;
}
.about-me-title{
z-index: 0;
top: 30%;
left: 40%;
right: 4%;
position: absolute;
background: linear-gradient(to right,red, orange, yellow, green, cyan, blue, violet);
font-size: 2rem;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Comic Sans MS;	
}
.game-title{
	z-index: 0;
	top: 10%;
        left: 10%;
	position: absolute;
	background: linear-gradient(to right,cyan,green);
	font-size: 2rem;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: Comic Sans MS;

}

.certificates-title{
	z-index: 0;
top: 10%;
left: 10%;
position: absolute;
background: linear-gradient(to right, green,red,yellow,blue,orange,cyan,violet);
font-size: 2rem;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Comic Sans MS;	
}
.skills-title{
	z-index: 0;
top: 10%;
left: 10%;
position: absolute;
background: linear-gradient(to right, cyan, blue, violet);
font-size: 2rem;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Comic Sans MS;	
}
.menu{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	text-decoration: none;
}
.a,.b,.c,.d,.g{
	background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
	background-size: 400% 400%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: rainbow 5s ease infinite;
	animation: rainbow 30s ease infinite;
	font-size: 1.5rem;
	line-height: 2.5rem;
	margin: 2rem;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@-webkit-keyframes rainbow {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
  }
@keyframes rainbow{

		0% { background-position: 0% 50% }
		50% { background-position: 100% 50% }
		100% { background-position: 0% 50% }
	  }
.nav{
display: flex;
justify-content: space-between;
align-items: flex-end;
position: absolute;
right:8%;
top:10%;
z-index: 3;
}
.name{
position: absolute;
top: 50%;
left: 40%;
background: linear-gradient(to right, cyan, blue, violet);
background-size: 400% 400%;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 2rem;
font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: 100;
}
.name-info{
margin-top: 0.1em;
	position: absolute;
	top: 54%;
	left: 40%;
	background: linear-gradient(to right, cyan, blue, violet);
	background-size: 400% 400%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
font-size: 1rem;
	font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-weight: 50;
}

.a{
	margin-left: -60%;
}
.a:hover{
	font-size: 30px;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(to right, cyan,green,yellow);
	transition: all .3s linear;
	-webkit-background-clip: text;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear; 
}


.b{
	margin-left: -26%;
}
.b:hover{
	font-size: 30px;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(to right,yellow,green,cyan);
	transition: all .3s linear;
	-webkit-background-clip: text;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear; 
}

.c{
	margin-left: 4%;
}
.c:hover{
	font-size: 30px;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(to right,orange,yellow,cyan);
	transition: all .3s linear;
	-webkit-background-clip: text;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear; 
}

.d{
	margin-left: -70%;
}

.g{
	margin-left: -170%;
}
@media screen and (max-width: 480px) {
	.name{
position: absolute;
top: 50%;
left: 40%;
font-size: 1rem;
line-height: 1.5rem;
}
.name-info{
position: absolute;
top: 52%;
left: 40%;
font-size: 0.5rem;
line-height: 1.5rem;
}
.a,.b,.c,.d,.g{
	margin-left: 5%;
	font-size: 1rem;
	line-height: 1.5rem;
	white-space: nowrap;
}
.logo480px{
position: absolute;
top: 20%;
left: 30%;
z-index: 3;
opacity: 0.5;
height: 30%;
width: 40%;	
}
.logo{
visibility:hidden;
}
#myCanvas{
visibility:hidden;
z-index: 1;
position: absolute;
top: 30%;
left: 40%;
width: 640px;
height: 480px;
}
#c{
visibility:hidden;
z-index: 0;
position: absolute;
top: 0%;
left: 0%;
width: 100vw;
height: 100vh;
}
.about_me{
font-size: 0.5rem;
}
.about_me{
top: 50%;
left: 6%;
right: 4%;
font-size: 1rem;

	}
.logo_skills{
	width: 30%;
	}
.logo_jquery{
	width: 20%;
	}
.logo_git{
	width: 8%;
	}
.logo_bootstrap{
	width: 16%;
			}
.logo_photoshop{
	width: 14%;
	}			
}

	
